// color themes: background-main-accenta-accentb-contrast
// light color theme: https://coolors.co/f1faee-1d3557-457b9d-a8dadc-e63946
// dark color theme:  https://coolors.co/333D48-f7f7ff-bdd5ea-577399-fe5f55

@import "screen-sizes"
@import "colors"

html
    font-size: 18px

body
    background: var(--color-background)
    color: var(--color-main)
    border: 1px solid red
    margin: auto
    font-family: "Merriweather", serif

body        
    @include size-l
        width: 60rem
        padding-right: 20rem
    @include size-m
        width: 40rem
    @include size-s
        width: 95vw

.blog-post
    h1
        font-size: 1.8rem
        @include size-ml
            margin-top: 4em
    h2
        font-size: 1.4rem
    h3
        font-size: 1.2rem
    
