
@import "screen-sizes"
@import "colors"

html
    font-size: 18px

body
    background: var(--color-background)
    color: var(--color-main)
    border: 1px solid red
    margin: auto
    font-family: "Merriweather", serif

body        
    @include size-l
        width: 60rem
        padding-right: 20rem
    @include size-m
        width: 40rem
    @include size-s
        width: 95vw

.blog-post
    h1
        font-size: 1.8rem
        @include size-ml
            margin-top: 4em
    h2
        font-size: 1.4rem
    h3
        font-size: 1.2rem
    
